body
{background-image:url(/medias/picture/background.jpeg);
font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;}
img
{
top:0px;
opacity:0.4;
filter:alpha(opacity=100); /* 针对 IE8 以及更早的版本 */
}

input[type=text]{
border-radius: 5px;
width:200px; /* 这里是输入框的长度 */ 
height:28px; /* 这里是输入框的宽度 */ 
position:relative; /* 这里规定输入框的定位类型 */ 
      }
input[type=date]{
border-radius: 5px;
width:150px; /* 这里是输入框的长度 */ 
height:28px; /* 这里是输入框的宽度 */ 
position:relative; /* 这里规定输入框的定位类型 */ 
      }
input[type=submit]{
border-radius: 5px;
width:50px; /* 这里是输入框的长度 */ 
height:28px; /* 这里是输入框的宽度 */ 
position:relative; /* 这里规定输入框的定位类型 */ 
font: 14px/1.5 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;
      }


a.style1 { color: #4183c4; text-decoration: none; font-weight: bold; }
a:hover { text-decoration: underline; }

table.style1
{background-color:white;}